<h2 class="page-header">Dashboard</h2>
<p>Welcome to your dashboard {{{user.name}}}!</p>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<link rel="stylesheet" href="/css/dashboard.css">
<div class="container"ng-app="app" ng-controller="ctrl">

  <button ng-hide="google_auth" ng-click="google_login()">Auth Google</button>
  <div class="search" ng-show="google_auth">
    <p>GoogleAuth = True</p>
  </div>

  <button ng-hide="dropbox_auth" ng-click="dropbox_login()">Auth Dropbox</button>
  <div class="search" ng-show="dropbox_auth">
    <p>DropBox Auth = True</p>
  </div>

  <input class="searchbar"  ng-show="google_auth || dropbox_auth" ng-model="search_q" type="text" name="Search" value="" placeholder="Type to search">
  <button class="searchbar" type="button" name="search" ng-click="search()">Search</button>

  <div ng-show="results" class="panel panel-default">
    <div class="list-group">
      <a ng-repeat="item in results" ng-href="#" class="list-group-item">
        <h4>{[{item.name}]}</h4>
        <p>{[{item.description}]}</p>
      </a>
    </div>
  </div>


  <script src="/js/app.js"></script>
</div>
